<br>
<br>
<% @array.each do |item| %>
  <header class="news_topic container">
    <h1><%= @companies[@num] %></h1>
    <% @num += 1 %>
  </header>
  <% item["value"].each do |result| %>
    <% if "#{$analyzer.sentiment result["description"]}" == "positive" %>
      <% @positive += 1 %>
    <% else %>
      <% @negative += 1 %>
    <% end %>
    <% @line["#{result["datePublished"].to_date}"] = "#{$analyzer.score result["description"]}" %>
    <% if "#{$analyzer.sentiment result["description"]}" == "positive" %>
      <% @positiveline["#{result["datePublished"].to_date}"] = "#{$analyzer.score result["description"]}" %>
    <% else %>
      <% @negativeline["#{result["datePublished"].to_date}"] = ("#{$analyzer.score result["description"]}").to_f.abs%>
    <% end %>
  <% end %>
  <div class="container  news_container">
  <%= pie_chart({"Positive" => @positive, "Negative" => @negative}) %>
  <% @positive = 0 %>
  <% @negative = 0 %>
  <br>
  <p> Combined News Chart </p>
  <% data = proper_data(@positiveline, @negativeline) %>
  <%= 
    column_chart [
      {name: "positive", data: data["positive"]},
      {name: "negative", data: data["negative"]}
    ] 
  %>
  <% @line = {} %>
  <% @positiveline = {} %>
  <% @negativeline = {} %>
  </div>
  <br>
  <br>
<% end %>
<br>
<br>