// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
    width: 100%;
    border: 1px solid gray;
}

.topic {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

.navi {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

.box {
    list-style-type: none;
    padding: 0;
}
  


.article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

